### Node ###

# Dependency directories
737Webviews/node_modules/
737Bot/node_modules/

# Optional npm cache directory
737Webviews/.npm
737Bot/.npm

# Runtime data
737Webviews/pids
737Webviews/*.pid
737Webviews/*.seed
737Webviews/*.pid.lock
737Bot/pids
737Bot/*.pid
737Bot/*.seed
737Bot/*.pid.lock



# Logs
737Webviews/logs
737Webviews/*.log
737Webviews/npm-debug.log*
737Webviews/yarn-debug.log*
737Webviews/yarn-error.log*
logs
737Bot/*.log
737Bot/npm-debug.log*
737Bot/yarn-debug.log*
737Bot/yarn-error.log*

